/_build
/_compiled
/config.omk
/config.omk-default
/admin/
Makefile
*.o
*.lo
*.la
.deps
.libs
cscope.files
cscope.out
Makefile.in
/orte/include/orte/orte_config.h
/orte/include/orte/orte_config.h.in
/config.log
/config.status
/configure
/libtool
/modtool
/autom4te.cache/
aclocal.m4
/orte/include/orte/stamp-h1
